body{
    /* background-color: #eed773; */
    background-color: #adefd1ff;
    animation: transitionIn 0.75s;
}

@keyframes transitionIn{
    from{
        opacity:0;
        transform: rotateX(-10deg);
    }
    
    to{
        opacity:2;
        transform :rotateX(0);
    }
}

#btnc{
    border: 2px solid grey;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

.card-body{
    background-color: #36454f;
    color: white;
}

#main-content{
    text-align: center;
    margin-top: 25px;
}

#name{
    margin: 0 auto;
}





